html{
  background-color: #dbdbdb;
}

.title{
  font-family: "squada One", helvetica, serif;
  font-size: 4.5em;
  letter-spacing: 0.1em;
  padding: 10px;
  color: #6b6157;
}

.mainTitle{
  padding: 0;
  margin: 20px;
}

.radioContainer {
  display: inline-block;
  position: relative;
  cursor: pointer;
  user-select: none;
  margin: 40px 50px;
}

.radioContainer input{
  display: none;
}

.radioContainer .circle{
  display: inline-block;
  width: 75px;
  height: 75px;
  position: absolute;
  left: -40;
  top: -40;
  border-radius: 50%;
}

.radioContainer:hover .circle{
  border: 3px #808080 solid;
}

.radioContainer input:checked + .circle {
  border: 3px #545454 solid;
}


#main {
  display: flex;
  justify-content: center;
}

#colorBox {
    border: 1px black solid;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  text-align: center;
  background-color: #e3a86d;
}

#optionBox{
  border: 1px black solid;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  text-align: center;
  background-color: #e3a86d;
}

button {
  height: 3em;
  width: 13em;
  border: 3px #6b6157 solid;
  border-radius: 12px;
  background-color: #e0e0e0;
  transition: 0.2s;
  outline: none;
  font-family: "Varela Round", sans-serif;
  font-size: 1.1em;
  margin: 0px 15px;
}

button:hover {
  transform: scale(1.1);
}

button:active {
  transform: scale(1);
}

#sizeBox {
  margin: 40px 10px;
  border-radius: 12px;
  border : 5px #6b6157 solid;
  text-align: center;
}

#sizeBox h1 {
  font-family: "squada One", helvetica, serif;
  color: #6b6157;
  font-size: 7em;
  letter-spacing: 0.05em;
  margin: 10px 0px 20px 0px;
}

#sizeBox input[type="text"]{
  border: 3px #6b6157 solid;
  border-radius: 12px;
  background-color: #e0e0e0;
  outline: none;
  transform: scale(2);
  height: 2em;
  width: 5em;
  margin-bottom: 25px;
  padding-left: 23px;
}

#sizeButton {
  border: 5px #6b6157 solid;
  border-radius: 18px;
  width : 10em;
  margin-bottom: 20px;
}

.colorPresets{
  border-radius: 12px;
  border : 5px #6b6157 solid;
  text-align: center;
  margin: 20px;
  display: flex;
  flex-direction: column;
  background-color: #e8e8e8;
}

#colorRow_2{
  margin-bottom: 10px;
}

#container {
  max-width : 30vw;
  min-width: 40vw;
}

#header {
  display: flex;
  align-items : center;
  flex-direction: column;
}

.row {
  display: flex;
}

.column {
  border: .5px black solid;
}

.blue{
  background-color: #8dbce6;
}

.green {
  background-color : #a1d285;
}

.red {
  background-color: #ec7178;
}

.brown {
  background-color: #a57171;
}

.purple {
  background-color: #9d9dca;
}

.aqua{
  background-color: #71c4c6;
}
